@tailwind base;

@tailwind components;

@tailwind utilities;

.max-w-screen-xl {
  max-width: 768px!important;
}

h1 {
  @apply .text-5xl;
}

h2 {
  @apply .text-4xl;
}

h3 {
  @apply .text-3xl;
}

h4 {
  @apply .text-2xl;
}

h5 {
  @apply .text-xl;
}

h6 {
  @apply .text-lg;
}

a {
  @apply .text-blue-500 .underline;
}

a:hover {
  @apply .no-underline;
}

input[type=text] {
  @apply .shadow .appearance-none .border .rounded .w-full .py-2 .px-3 .text-gray-700 .leading-tight;

  &:focus {
    @apply .outline-none .shadow-outline;
  }
}

input[type=range] {
  @apply .shadow .appearance-none .border .rounded .w-full .bg-gray-300;
  width: 100%;
  height: 10px;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  @apply .shadow .bg-blue-500 .appearance-none .border .rounded-full .border-blue-700 .border-solid;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  @apply .shadow .bg-blue-500 .appearance-none .border .rounded-full .border-blue-700 .border-solid;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

input[type=submit] {
  @apply .bg-blue-500 .text-white .font-bold .py-2 .px-4 .rounded ;

  &:focus {
    @apply .outline-none .shadow-outline;
  }
}
input[type=submit]:hover {
  @apply .bg-blue-700;
}

textarea {
  @apply .shadow .appearance-none .border .rounded .w-full .py-2 .px-3 .text-gray-700 .leading-tight;
}

label {
  @apply .block .text-gray-700 .text-base .font-bold .mb-2;
}
